
<div class="sign-up-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <br><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email *", class:"sign-up-field" %><br>
  </div>

  <div class="field">
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", required: true, placeholder: "Nickname *", class:"sign-up-field" %><br>
  </div>
  <div class="display-name">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", placeholder: "First Name", class:"name-sign-up-field" %><br>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", placeholder: "Last Name", class:"name-sign-up-field" %><br>
  </div>
  <div class="field">
  </div>

  <div class="field">
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class:"sign-up-field" %><br>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat Password", class:"sign-up-field" %><br>
  </div>

  <div class="actions">
    <p><%= f.submit "Sign up", class:"submit-login submit-sign-up" %></p><br>
    <p class="age">You must be 13 years to sign up. </p>
    <div class="not-reg-div"><br>
      <p class="not-reg"><%= link_to "Already a member? Sign In!", new_user_session_path, class:"not-reg-link" %></p>
    </div>
  </div>
  <% end %>

</div>
