<%= render "layouts/header" %>
<section>
  <div class="me-section">
    <div class="me-intro-row">
      <img src="https://jd-pics.s3.us-east-2.amazonaws.com/jd.png" class="me-img">
      <p class="me-text">Hello! My name is Juan Diego, but most of my friends call me JD. I am a Full Stack Ruby on Rails Developer, specialized in Back-end that is always willing to go the extra mile to make the client's ideas become a reality.<br><br>
      Fluent on English, Spanish and conversational on Dutch and Papiamento.<br>
      <br>Currently in: Miami, FL<br>
      <br>Site Under Construction...<br>
      <!-- <br><a href="./assets/documents/jd-soteldo.pdf" download="jd-soteldo.pdf" target="_blank">My Resume</a></p> -->
    </div>
  </div>
</section>

<section id="technologies">
  <div class="sections skills">
    <h1 class="index-title">Technologies I use</h1>
    <div class="skill-icons">
      <div class="row tech-row" id="tech-row1">
        <div class="col-sm tech-col">
          <a class="devicon-atom-original icon atom" href="https://atom.io/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-bootstrap-plain icon bootstrap" href="https://getbootstrap.com/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-css3-plain icon css" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-facebook-plain icon fb" href="https://www.facebook.com/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-git-plain icon git" href="https://git-scm.com/" target="_blank"></a>
        </div>
      </div>
      <div class="row tech-row" id="tech-row2">
        <div class="col-sm tech-col">
          <a class="devicon-github-plain icon github" href="https://github.com/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-heroku-plain icon heroku" href="https://www.heroku.com/home" target="_blank"></a><br>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-html5-plain icon html5" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-javascript-plain icon js" href="https://www.javascript.com/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-jquery-plain icon jquery" href="https://jquery.com/" target="_blank"></a>
        </div>
      </div>
      <div class="row tech-row" id="tech-row3">
        <div class="col-sm tech-col">
          <a class="devicon-postgresql-plain icon pg" href="https://www.postgresql.org/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-rails-plain icon rails" href="https://rubyonrails.org/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-ruby-plain icon ruby" href="https://www.ruby-lang.org/en/" target="_blank"></a>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-sass-original icon sass" href="https://sass-lang.com/" target="_blank"></a><br>
        </div>
        <div class="col-sm tech-col">
          <a class="devicon-slack-plain icon slack" href="https://slack.com/intl/en-us/" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="work">
  <div class="project-section sections">
    <h1 class="index-title">Some of my work</h1>
    <div class="my-work">
      <div class="card" style="width: 16rem;">
        <img src="https://bogota-dev.s3.us-east-2.amazonaws.com/bd_logo_white_bg.png" class="card-img-top" alt="..." style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Bogotá Dev</h5>
          <p class="card-text">For the past 5 months I've been focusing on the front-end of Bogota Dev, so the website can be easily navigate and also explain the elaborate processes of web-dev to new clients.</p>
          <a href="https://www.bogotadev.com/" target="_blank" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <div class="card" style="width: 16rem;">
        <img src="https://jd-pics.s3.us-east-2.amazonaws.com/bogota-bootcamp-logo.png" class="card-img-top" alt="..."  style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Bogotá Bootcamp</h5>
          <p class="card-text">Been working with Bogotá Bootcamp for 6 months. On both back-end and front-end. Focusing on automation and UX.</p>
          <a href="https://www.bogotabootcamp.com/" target="_blank" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <div class="card" style="width: 16rem;">
        <img src="https://jd-pics.s3.us-east-2.amazonaws.com/coming_soon.jpg" class="card-img-top" alt="..."  style="height: 25vh;">
        <div class="card-body">
          <h5 class="card-title">Inventory Management System</h5>
          <p class="card-text">My first personal big app. I'm still working on a user-friendly Inventory Management System and hope to release it at the end of 2020.</p>
          <a href="https://www.bogotabootcamp.com/" target="_blank" class="btn btn-primary disabled">Visit</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="goals-section" id="goals">
  <h1 class="index-title">JD's 2020 Goals</h1>
  <%= render "layouts/tasks" %>
</section>

<section class="references-section" id="references">
  <div class="slideshow-container">
    <h1 class="index-title">Personal References</h1>
    <div class="dots">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    <div class="mySlides">
      <div class="card card-width">
        <h5 class="card-header">Diego Zuluaga</h5>
        <div class="card-body">
          <h5 class="card-title"><%= t('reference_title_1') %></h5>
          <p class="card-text">Trabajé cerca de un año con Juan Diego Soteldo y puedo decir que es una persona responsable, bastante maduro con gran adaptabilidad para el aprendizaje continuo en múltiples áreas del desarrollo web, como el manejo de Ruby on Rails , javascript y otros lenguajes de programación y Frameworks, la gestión de información en varios tipos de bases de datos, trabajo bajo metodologías agiles un gran interés por la eficiencia y el apoyo a sus compañeros. Recomiendo altamente  Juan Diego para trabajar en equipos de desarrollo ya que puede aportar grandes habilidades y actitudes para sacar proyectos de alto impacto.</p>
          <a href="https://www.linkedin.com/in/diegozuluagagil/" class="btn btn-primary" target="_blank">More about Diego</a>
        </div>
      </div>
    </div>

    <div class="mySlides">
      <div class="card card-width">
        <h5 class="card-header">Juan Acero</h5>
        <div class="card-body">
          <h5 class="card-title"><%= t('reference_title_2') %></h5>
          <p class="card-text">Juan Diego es una persona muy trabajadora y responsable, comprometido en las actividades que le han sido asignadas, es muy activo y su curiosidad le lleva a indagar por la solución que mejor se adecue al problema que enfrenta. Es alguien con quien es muy grato trabajar debido a su dinamismo, muchas veces su terquedad le hace enfocarse en un problema en particular y no deja de pensar en este hasta que dé con una solución. Considero que su perfil de desarrollador está muy orientado al Backend, esto no quiere decir que carezca de creatividad, todo lo contrario, también se destaca como Frontend, pero he visto que disfruta mas de lidiar con problemas que involucren alguna lógica. En el tiempo que pude trabajar con él, me percaté que es una persona que siempre está a la hora y que, si toca echar código hasta tarde, lo hace sin poner peros de por medio. JD es una persona que está ahí cuando se le necesita, y si tienes la dicha de ser parte de su circulo de amistades, encontraras a una excelente persona con quien compartir una gran amistad, compartí poco tiempo con él, pero siento que es de esas personas que te brindan lo mejor de si. </p>
          <a href="https://www.linkedin.com/in/juan-acero-prieto/" class="btn btn-primary" target="_blank">More about Juan</a>
        </div>
      </div>
      <br>
    </div>
    <div class="mySlides">
      <div class="card card-width">
        <h5 class="card-header">Mauricio Scioville</h5>
        <div class="card-body">
          <h5 class="card-title"><%= t('reference_title_3') %></h5>
          <p class="card-text">Trabaja enfocado en los objetivos y requerimientos sin dejar de lado los detalles. Lo considero una persona responsable y diligente. Se mantiene aprendiendo y mejorando la calidad de su trabajo, le gusta el desafío de una tarea que puede estar fuera de su zona de comfort en búsca de mejorar sus habilidades profesionales. Es un excelente compañero con el cual el trabajo se vuelve divertido.</p>
          <a href="https://www.linkedin.com/in/mauricio-scioville/" class="btn btn-primary" target="_blank">More about Mou</a>
        </div>
      </div>
      <br>
    </div>
  </div>
</section>

<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script type="text/javascript">
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>

<footer>
  <%= render 'layouts/footer' %>
</footer>
