<div class="tasks-div">
  <% @tasks.each do |t| %>
    <div class="task-individual">
      <% if current_user && current_user.role == 'admin' %>
        <%= t.task.capitalize %>
        <div class="task-status">
          <% if t.status == 'pending' %>
            <%= link_to 'Complete', status_task_path(t, status: 'completed'), method: :put, class:"approve-btn task-btn", data: {confirm: "Are you sure?"} %>
            <%= link_to 'Delete', task_path(t), method: :delete, class: "task-delete", data: {confirm: "are you sure?"} %><br>
          <% elsif t.status == 'completed' %>
            <%= link_to 'Not Done', status_task_path(t, status: 'pending'), method: :put, class:"disapprove-btn task-btn", data: {confirm: "Are you sure?"} %>
            <%= link_to 'Delete', task_path(t), method: :delete, class: "task-delete", data: {confirm: "are you sure?"} %><br>
          <% end %>
        </div>
      <% else %>
        <div class="task-status">
          <% if t.status != 'pending' %>
            <div class="task-title">
              <p class="done-task"><%= t.task.capitalize %></p>
            </div>

          <% else %>
            <div class="task-title">
              <p class="pending-task"><%= t.task.capitalize %></p>
            </div>

          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
